<mat-accordion>
        <mat-expansion-panel *ngFor = "let post of posts">
          <mat-expansion-panel-header >
              <mat-panel-title>
               {{post.title}}
              </mat-panel-title>
          </mat-expansion-panel-header>
                {{post.body}}
                <br><br>            
                <button mat-raised-button color="primary" (click)=deletePost(post.id)>
                  Delete Post
                 </button>
        </mat-expansion-panel>
        
      </mat-accordion>