<mat-accordion>
        <mat-expansion-panel *ngFor = "let book of books">
          <mat-expansion-panel-header>
              <mat-panel-title>
                 {{book.title}}
              </mat-panel-title>
          </mat-expansion-panel-header>
               by {{book.author}}
        </mat-expansion-panel>
      </mat-accordion>