<h4>Add Post</h4>
<div class="container mt-3">
<form #addWorker="ngForm"(ngSubmit)="onSubmit()">
    <div class="form-group">
        <label>Title</label>
        <input class="form-control" [(ngModel)]="title" name="title"> 
    </div>
    <div class="form-group">
        <label>Body</label>
        <input class="form-control" [(ngModel)]="body" name="body"> 
    </div>
   
        <button mat-raised-button color="primary" [disabled]>Submit</button>
    </form>
</div>